{% extends "studenthome.html" %}
{% load static %}
  
    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
      {% block content5 %} 
    {% endblock content5 %}   
      {% block footer %}
    {% endblock footer %} 
    {% block content4 %} 

    <h1 style="width:20cm;text-align: center;color: white;">EDIT STUDENT</h1>
    {% endblock content4 %} 

   
    {% block content1 %} 
 <form action="/updatestudent/{{ view.id }}" method="post" class="text-center">
  <div class="container mt-5">
    {% csrf_token %}

    <input type="text" name="firstname" value="{{ data.first_name }}" 
           class="form-control w-50 mx-auto mb-3" placeholder="First Name">

    <input type="text" name="lastname" value="{{ data.last_name }}" 
           class="form-control w-50 mx-auto mb-3" placeholder="Last Name">

    <input type="email" name="email" value="{{ data.email }}" 
           class="form-control w-50 mx-auto mb-3" placeholder="Email">

    <input type="text" name="address" value="{{ data.address }}" 
           class="form-control w-50 mx-auto mb-3" placeholder="Address">

    <input type="number" name="phonenumber" value="{{ data.phone_number }}" 
           class="form-control w-50 mx-auto mb-3" placeholder="Phone Number">

    <input type="text" name="guardian" value="{{ view.guardian }}" 
           class="form-control w-50 mx-auto mb-4" placeholder="Guardian Name">

<button type="submit" class="btn btn-primary mb-5">UPDATE</button>


      </div>
 {% endblock content1 %} 
    </form>
   
</div>

</body>
</html>
